.like {
  color: red;
}
.dislike{
    color:blue;
}
p.dislike:hover {
  color: red;
}
p.like:hover {
  color: green;
}
body {
  background-color: #ddd;
  font-size: 14px;
}
nav ul li {
  display: inline-block;
}